@{
    ViewData["Title"] = "Admin - initial menu";

}

<h1 class="text-center">Admin menu - Please choose the next admin menu.</h1>

<div class="col text-center">
   <form>
        <input type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("UserAdminMenu", "User") + "'");" value="User menu"/> 
    </form>
</div>
</br>
<div class="col text-center">
   <form>
        <input type="button" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("FurnitureAdminMenu", "User") + "'");" value="Furniture menu" /> 
    </form>
</div>
