@{
    ViewData["Title"] = "Admin - initial menu";

}

<h1>Admin menu - Please choose the next admin menu.</h1>

<div>
    <p>
        <a asp-action="UserAdminMenu">Users menu</a>
    </p>

    <p>
        <a asp-action="FurnitureAdminMenu">Furnitures menu</a>
    </p>
</div>
