@model Domain.Furnitures.Furniture
@{
    ViewData["Title"] = "Edited";
}

<h1>The @Model.Name was edited successfully!</h1>

<div>
    <a asp-action="FurnitureAdminMenu" asp-controller="User">Back to List</a>
</div>

